extends layout

block content
  div(class="header")
      div(class="pure-menu pure-menu-horizontal")
        a(class="pure-menu-heading pure-menu-link",href="#") EDMS
        ul(class="pure-menu-list")
          li(class="pure-menu-item")
            a(class="pure-menu-link",href="/employees/dashboard") Home
          li(class="pure-menu-item pure-menu-has-children pure-menu-allow-hover")
            a(class="pure-menu-link",href="#") #{user.firstName} #{user.lastName}
            ul(class="pure-menu-children")
              li(class="pure-menu-item")
                a(class="pure-menu-link",href="/employees/view") View Profile
              li(class="pure-menu-item")
                a(class="pure-menu-link",href="/employees/edit") Edit Profile
              li(class="pure-menu-item")
                a(class="pure-menu-link",href="/employees/passwd") Change Password
          if admin     
            li(class="pure-menu-item") 
              a(class="pure-menu-link pure-menu-selected",href="/employees/audit") View Audit
            li(class="pure-menu-item")
              a(class="pure-menu-link",href="/employees/upload") Bulk Upload
           li(class="pure-menu-item") 
            a(class="pure-menu-link",href="/employees/logout") Log Out
  div(class=" content pure-g")
    div(class="pure-u-2-24")
    div(class="pure-u-20-24")
      h2 Audit Log
      table(class='pure-table pure-table-horizontal',style="width:100%")
        thead
          tr
            th User Name
            th TimeStamp
            th Comments
            th Download
        tbody
          for entry in entries
            tr
              td= entry.userName
              td= entry.timeStamp.toISOString()
              td= entry.comments
              td
                a(href="#") Download
    div(class="pure-u-2-24")