extends layout

block content
  div(class="header")
      div(class="pure-menu pure-menu-horizontal")
        a(class="pure-menu-heading pure-menu-link",href="#") EDMS
        ul(class="pure-menu-list")
          li(class="pure-menu-item")
            a(class="pure-menu-link",href="/employees/login") Login
  div(class="content pure-g")
    div(class="pure-u-2-24")
    form(class="pure-form pure-form-aligned pure-u-20-24",action="/employees/register",method="post")
      fieldset
        h2 Employee Registration
        if msg
          div(class="pure-control-group")
            label(for="msg")
            label= msg
        if user
          div(class="pure-control-group")
            label(for="userName") User Name
            input(type="text",value="#{user.userName}",id="userName",name="userName",required)
          div(class="pure-control-group")
            label(for="firstName") First Name
            input(type="text",value="#{user.firstName}",id="firstName",name="firstName",required)
          div(class="pure-control-group")
            label(for="lastName") Last Name
            input(type="text",value="#{user.lastName}",id="lastName",name="lastName",required)
          div(class="pure-control-group")
            label(for="email") Email
            input(type="text",value="#{user.email}",id="email",name="email",required)
        else
          div(class="pure-control-group")
            label(for="userName") User Name
            input(type="text",placeholder="User Name",id="userName",name="userName",required)
          div(class="pure-control-group")
            label(for="firstName") First Name
            input(type="text",placeholder="First Name",id="firstName",name="firstName",required)
          div(class="pure-control-group")
            label(for="lastName") Last Name
            input(type="text",placeholder="Last Name",id="lastName",name="lastName",required)
          div(class="pure-control-group")
            label(for="email") Email
            input(type="text",placeholder="Email",id="email",name="email",required)        
        div(class="pure-control-group")
          label(for="password") Password
          input(type="password",placeholder="Password",id="password",name="password",required)
        div(class="pure-control-group")
          label(for="cpassword") Confirm Password
          input(type="password",placeholder="Confirm Password",id="cpassword",name="cpassword",required)
        div(class="pure-controls")
          button(type="submit",class="pure-button pure-button-primary") Register
    div(class="pure-u-2-24")
